*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
   
}

body{
    background:#083A4C;
}

h1{
    text-align: center;
    font-size: 5rem;
    color: white;
}
.main-box{
    width: 1170px;
    margin: 30px auto;

    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;

}

.box{
    margin: .8rem;
    background-color: #1289B2;
    width: 80px;
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.red{
    background-color: #EF466F;
}

.yellow{
    background-color: #FFD166;
}

.green{
    background-color:#0BD6A0;
}